# Configurações do RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Configurações da API
API_HOST=localhost
API_PORT=5000
API_DEBUG=True

# Configurações de consumidores
CONSUMER_PREFETCH_COUNT=1
CONSUMER_AUTO_ACK=False

# Log
LOG_LEVEL=INFO
